[bindip]
srcip = "bind_ip"

[debug]
logs = true

[influxdb]

url = "http://localhost:8086"
bucket = "bucket_name"
measurement = "ping"
org = "org_name"
token = "token_id"

[hosts]

hosts = [
    "127.0.0.1",
    "8.8.8.8",
]
